@tailwind base;
@tailwind components;
@tailwind utilities;

.Navbar {
  @apply hover:text-green-600 after:left-0 after:-bottom-8 after:h-[4px] after:w-0 after:transition-all after:duration-300
         hover:after:w-full after:bg-green-600 relative after:absolute ;
}

.icon {
    @apply text-4xl mr-5;
}
.text-icon{
   @apply text-2xl font-bold text-blue-950;
}
.hover{
    @apply hover:text-white;
}