@tailwind base;
@tailwind components;
@tailwind utilities;

.Navbar {
    @apply hover:text-green-600 after:left-0 after:-bottom-8 after:h-[4px] after:w-0 after:transition-all after:duration-300 hover:after:w-full after:bg-green-600 relative after:absolute;
}

.Navbarstyle {
    @apply relative text-lg font-semibold cursor-pointer after:content-[''] after:absolute after:left-0 after:-bottom-7 after:h-[4px] after:bg-green-600 after:transition-all after:duration-300
}

.icon {
    @apply mr-5 text-4xl;
}

.text-icon {
    @apply text-2xl font-bold text-blue-950;
}

.hover {
    @apply hover:text-white;
}

@layer utilities {
    .perspective {
        perspective: 1000px;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}